<% if @content.favorited_by?(current_user) %>
<td><%= link_to favorite_path(content), method: :delete do %>
	<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
	<%= @content.favorites.count %> いいね！
	<% end %>
</td>
<% else %>
<td>
	<%= link_to favorites_path(content), method: :post do %>
	<i class="fa fa-heart-o" aria-hidden="true"></i>
	<%= @content.favorites.count %> いいね！
	<% end %>
</td>
<% end %>