<% @comment.each do |comment| %>
<table class="table table-striped">
    <tr>
        <td><%= comment.user_id %></td>
        <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= comment.comment %></td>
        </td>
    </tr>
</table>
<% end %>