         <!-- アマゾン広告 -->
 <div class="amazlet-box" style="margin-bottom:0px;">
 	<div class="amazlet-image" style="float:left;margin:0px 12px 1px 0px;">
 		<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07HHZTD8C" name="amazletlink" target="_blank">
 		<img src="https://images-fe.ssl-images-amazon.com/images/I/31C4TLDlhAL._SL160_.jpg" alt="PlayStation 4 Pro ジェット・ブラック 1TB (CUH-7200BB01)" style="border: none;" /></a>
 	</div>
 	<div class="amazlet-info" style="line-height:120%; margin-bottom: 10px">
 		<div class="amazlet-name" style="margin-bottom:10px;line-height:120%">
 			<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07HHZTD8C" name="amazletlink" target="_blank">PlayStation 4 Pro ジェット・ブラック 1TB (CUH-7200BB01)</a>
 			<div class="amazlet-powered-date" style="font-size:80%;margin-top:5px;line-height:120%">posted with <a href="http://www.amazlet.com/" title="amazlet" target="_blank">amazlet</a> at 20.02.11</div>
 		</div>
 		<div class="amazlet-detail">ソニー・インタラクティブエンタテインメント (2018-09-18)<br />売り上げランキング: 89<br />
 		</div>
 		<div class="amazlet-sub-info" style="float: left;">
 			<div class="amazlet-link" style="margin-top: 5px">
 				<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07HHZTD8C" name="amazletlink" target="_blank">Amazon.co.jpで詳細を見る</a>
 			</div>
 		</div>
 	</div>
 	<div class="amazlet-footer" style="clear: left"></div>
 </div>
 <div class="amazlet-box" style="margin-bottom:0px;">
 	<div class="amazlet-image" style="float:left;margin:0px 12px 1px 0px;">
 		<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07WXL5YPW/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank">
 			<img src="https://images-fe.ssl-images-amazon.com/images/I/41uat%2Bd45gL._SL160_.jpg" alt="Nintendo Switch 本体 (ニンテンドースイッチ) Joy-Con(L) ネオンブルー/(R) ネオンレッド(バッテリー持続時間が長くなったモデル)" style="border: none;" /></a>
 		</div>
 		<div class="amazlet-info" style="line-height:120%; margin-bottom: 10px">
 			<div class="amazlet-name" style="margin-bottom:10px;line-height:120%">
 				<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07WXL5YPW/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank">Nintendo Switch 本体 (ニンテンドースイッチ) Joy-Con(L) ネオンブルー/(R) ネオンレッド(バッテリー持続時間が長くなったモデル)</a>
 				<div class="amazlet-powered-date" style="font-size:80%;margin-top:5px;line-height:120%">posted with <a href="http://www.amazlet.com/" title="amazlet" target="_blank">amazlet</a> at 20.02.1
 				</div>
 			</div>
 			<div class="amazlet-detail">任天堂 (2019-08-30)<br />売り上げランキング: 35<br /></div>
 			<div class="amazlet-sub-info" style="float: left;">
 				<div class="amazlet-link" style="margin-top: 5px">
 					<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07WXL5YPW/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank">Amazon.co.jpで詳細を見る</a>
 				</div>
 			</div>
 		</div>
 		<div class="amazlet-footer" style="clear: left"></div>
 	</div>
 	<div class="amazlet-box" style="margin-bottom:0px;">
 		<div class="amazlet-image" style="float:left;margin:0px 12px 1px 0px;">
 			<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07X779ZK5/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank">
 				<img src="https://images-fe.ssl-images-amazon.com/images/I/41i-GD4F2oL._SL160_.jpg" alt="Nintendo Switch Lite ターコイズ" style="border: none;" /></a>
 		</div>
 		<div class="amazlet-info" style="line-height:120%; margin-bottom: 10px">
 			<div class="amazlet-name" style="margin-bottom:10px;line-height:120%">
 				<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07X779ZK5/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank">Nintendo Switch Lite ターコイズ</a>
 				<div class="amazlet-powered-date" style="font-size:80%;margin-top:5px;line-height:120%">posted with <a href="http://www.amazlet.com/" title="amazlet" target="_blank">amazlet</a> at 20.02.11</div>
 			</div>
 			<div class="amazlet-detail">任天堂 (2019-09-20)<br />売り上げランキング: 9<br /></div>
 			<div class="amazlet-sub-info" style="float: left;">
 				<div class="amazlet-link" style="margin-top: 5px">
 					<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07X779ZK5/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank">Amazon.co.jpで詳細を見る</a>
 				</div>
 			</div>
 		</div>
 		<div class="amazlet-footer" style="clear: left"></div>
 	</div>
 	<div class="amazlet-box" style="margin-bottom:0px;">
 		<div class="amazlet-image" style="float:left;margin:0px 12px 1px 0px;">
 			<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07SFY368H/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank"><img src="https://images-fe.ssl-images-amazon.com/images/I/41Jsnq0xa3L._SL160_.jpg" alt="ファイナルファンタジーVII リメイク - PS4" style="border: none;" /></a>
 		</div>
 		<div class="amazlet-info" style="line-height:120%; margin-bottom: 10px">
 			<div class="amazlet-name" style="margin-bottom:10px;line-height:120%">
 				<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07SFY368H/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank">ファイナルファンタジーVII リメイク - PS4</a>
 				<div class="amazlet-powered-date" style="font-size:80%;margin-top:5px;line-height:120%">posted with <a href="http://www.amazlet.com/" title="amazlet" target="_blank">amazlet</a> at 20.02.11</div>
 			</div>
 			<div class="amazlet-detail">スクウェア・エニックス (2020-04-10)<br />売り上げランキング: 5<br /></div>
 			<div class="amazlet-sub-info" style="float: left;">
 				<div class="amazlet-link" style="margin-top: 5px">
 					<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07SFY368H/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank">Amazon.co.jpで詳細を見る</a>
 				</div>
 			</div>
 		</div>
 		<div class="amazlet-footer" style="clear: left"></div>
 	</div>
 	<div class="amazlet-box" style="margin-bottom:0px;">
 		<div class="amazlet-image" style="float:left;margin:0px 12px 1px 0px;">
 			<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07ND146ZL/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank"><img src="https://images-fe.ssl-images-amazon.com/images/I/41Fu4oHAffL._SL160_.jpg" alt="ファイナルファンタジーXIV: 漆黒のヴィランズ - Windows" style="border: none;" /></a>
 		</div>
 		<div class="amazlet-info" style="line-height:120%; margin-bottom: 10px">
 			<div class="amazlet-name" style="margin-bottom:10px;line-height:120%">
 				<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07ND146ZL/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank">ファイナルファンタジーXIV: 漆黒のヴィランズ - Windows</a>
 			<div class="amazlet-powered-date" style="font-size:80%;margin-top:5px;line-height:120%">posted with <a href="http://www.amazlet.com/" title="amazlet" target="_blank">amazlet</a> at 20.02.11</div>
 		</div>
 		<div class="amazlet-detail">スクウェア・エニックス (2019-07-02)<br />売り上げランキング: 605<br /></div>
 		<div class="amazlet-sub-info" style="float: left;">
 			<div class="amazlet-link" style="margin-top: 5px">
 				<a href="http://www.amazon.co.jp/exec/obidos/ASIN/B07ND146ZL/amazletjp-22/ref=nosim/" name="amazletlink" target="_blank">Amazon.co.jpで詳細を見る</a>
 			</div>
 		</div>
 	</div>
 	<div class="amazlet-footer" style="clear: left">
 	</div>
 </div>